.events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit);
    gap: 25px 0px;
    justify-items: center;
    &__event-dashboard {
        width: 400px;
        border-radius: 10px;
    }
    &__event {
        display: grid;
        grid-template-columns: [s] 400px [e];
        grid-template-rows: [image-s] 1fr [image-e];
        & > * {
            grid-column: s/e;
            grid-row: image-s/image-e;
        }
        &__img {
            border-radius: 10px;
        }
        &__text {
            display: grid;
            align-self: end;
            gap: 10px 0px;

            background-color: gray;
            color: white;
            font-family: $sans-font;
            padding: 20px;
            border-radius: 0px 0px 10px 10px;
            transition: 0.3s all ease;
            & > * {
                grid-column: 1/-1;
            }
            &__title {
                display: flex;
                align-items: center;
                gap: 0px 20px;
                font-size: 1.5em;
                font-weight: 600;
                letter-spacing: 1px;
                font-family: $sans-font;
                grid-row: 1;
            }
            &__delete, &__edit {
                color: red;
                transition: 0.2s all ease;
                font-size: 1.2em;
                background-color: wheat;
                border-radius: 25%;
                padding: 8px;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
                &:active {
                    transform: scale(1);
                }
            }
            &__edit {
                color: darkorange;
            }
            &__description {
                font-size: 1.2em;
                grid-row: 2;
            }
            &__date {
                grid-row: 3;
            }
            &__location {
                grid-row: 3;
                justify-self: center;
                text-decoration: none;
                color: white;
            }
        }

    }
}