.event-dashboard {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    background: linear-gradient(45deg, gray 50%, red 50% 80%);
    border: 1px solid black;
    & > * {
        display: grid;

        .fas {
            justify-self: center;
        }

        background-color: black;
        border-radius: 50%;
        padding: 20px;
        font-size: 1.5em;
        font-family: $sans-font;
        color: white;
        border: none;
        transition: 0.3s all ease;
        &:hover {
            cursor: pointer;
        }
        &:active {
            transform: scale(0.9);
        }
    }
}