.event-dashboard {
    display: grid;
    grid-template-columns: [s] 1fr [e];
    grid-template-rows: [add-s] 1fr [add-e delete-s] 1fr [delete-e update-s] 1fr [delete-e];
    justify-items: center;
    align-items: center;

    background-color: gray;
    & > * {
        display: grid;

        .fas {
            justify-self: center;
        }

        background-color: black;
        border-radius: 50%;
        padding: 20px;
        font-size: 1.5em;
        font-family: $sans-font;
        color: white;
        border: none;
    }
}