.loading {
    position: absolute;
    top: 70%;
    z-index: 2;
    place-self: start center;

    display: grid;
    justify-items: center;
    font-size: 16px;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }
  
  @keyframes spin {
      from {
          transform:rotate(20deg);
      }
      to {
          transform:rotate(-10deg);
      }
}