@import "./variables.scss";
@import "./mixins.scss";

html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

@import "./app.scss";
@import "./navbar.scss";
@import "./footer.scss";
@import "./events.scss";
@import "./event-dashboard.scss";
@import "./header-logo.scss";
@import "./loading-icon.scss";

@import "./pages/home.scss";
@import "./pages/no-route.scss";
@import "./pages/appointments.scss";
@import "./pages/contact.scss";
@import "./pages/merch.scss";
