@mixin nav-link {
    font-family: $sans-font;
    transition: 0.3s all ease;
    text-decoration: none;
    color: white;
    &:hover {
        color: gray;
        cursor: pointer;
    }
    &:active {
        transform: scale(0.9);
    }
}

@mixin base-layout {
    grid-row: content-s/content-e;
    grid-column: app-s/app-e;
}