.navbar {
    grid-row: nav-s/nav-e;
    grid-column: 1/-1;

    background: black;
    color: white;

    display: flex;
    justify-content: space-around;
    align-items: center;
    &__link {
        font-family: $sans-font;
        font-size: 18px;
        @include nav-link();
    }
    @media only screen and (max-width: 600px) {
        flex-direction: column;
        height: 170px;
        padding: 0px 10px;
        // background-color: rgba(0, 0, 0, 0.8);
        justify-self: start;
        position: absolute;

        border-radius: 0px 0px 50px 0px;
    }
}