.contact {
    @include base-layout();

    display: grid;
    justify-items: center;
    gap: 10px 0px;
    &__header-logo {
        place-self: center;
    }
    &__email, &__phone {
        text-decoration: none;
        font-size: 2em;
        font-family: $sans-font;
    }
    &__phone {

    }
    &__map {
        justify-self: center;
        width: 60vw;
        border-radius: 10px;
    }
}