.home {
    @include base-layout();
    display: grid;
    gap: 20px 0px;
    &__logo {
        place-self: center;
    }
    &__address {
        justify-self: center;
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 2rem;
        font-family: $serif-font;
        &:hover {
            color: gray;
        }
    }
}